name = "codemap-mcp"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[env.development]
vars = { ENVIRONMENT = "development" }

[env.production]
vars = { ENVIRONMENT = "production" }

[[kv_namespaces]]
binding = "CODEMAP_KV"
id = "fd966d535f184c6b83e8378ce6da8bc3"
preview_id = "91665409282341d690b113aeb956fb87"

[build]
command = "npm run build"
cwd = "."
